<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<title>启力订单管理系统</title>
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/dailishang.css" />
	</head>

	<body class="insurance_body">
		<div class="insurance_main">
			<div class="pingan_main">
				<img src="__PUBLIC__/Home/images/admin_logo2.png" alt="启力订单管理系统" class="pingan_logo" />
				<div class="form_pingan">
					<h2>后台管理系统</h2>
					<form name="form" id="form" method="post">
						<div class="form_pinan_main">
							<div class="item_f">
								<label>用户名：</label>
								<input type="text" name="name" id="" value="" class="input_f" />
								<em class="tips">*必填</em>
							</div>
							<div class="item_f">
								<label>密码：</label>
								<input type="password" name="pwd" id="" value="" class="input_f" />
								<em class="tips">*必填</em>
							</div>
							<div class="item_f">
							</div>
						</div>
						<input type="button" id="submit" class="btn_login" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" />
					</form>
				</div>
				<p class="banquan">版权所有：启力互联网络科技有限公司 Onesoft © 2017 All Rights Reserved</p>
			</div>
		</div>
	</body>
<script type="text/javascript" src="__PUBLIC__/Home/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/lib/layer/2.4/layer.js"></script>
<script type="text/javascript">
	$(function(){
		$("#submit").click(function(){
		$.ajax({
			url: '__CONTROLLER__/login',
			type: 'post',
			dataType: 'json',
			data: $("#form").serialize(),
			success: function(data){
					if(data.code == 1){
						layer.msg(data.msg,{icon:1,time:1000},function(){
							window.location.href="__MODULE__/Index/index";
					}); 
					}else if(data.code == 0){
						layer.msg(data.msg,{icon:2,time:1000});
					}
					}
		});
	});
	})
</script>
</html>